<h1>Edit Deck type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.deck_type_path(@conn, :update, @deck_type)) %>

<span><%= link "Back", to: Routes.deck_type_path(@conn, :index) %></span>
